/* Crypto bridge blockchain technology */
.typographyRexos 
 {
  
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12pt;
  line-height: 0px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

